bin/
obj/
/packages/
/node_modules/
riderModule.iml
/_ReSharper.Caches/
Centenary.React/react-practical-start/
/Centenary.Drive.Cli/ApiAccountKey/sphynx-drive-170cc41754a5.json
/Folder 1/
/Folder 2/
/Folder 3/
/Power Point/
ApiAccountKey
